@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.home-view {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 56px 0 24px;

  @media (min-width: 1280px) {
    padding: 128px 0 24px;
    gap: 64px;
  }
}

.headline-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.title {
  @include typography.text-heading;
  margin: 0;
}

.description {
  @include typography.text-small;
  margin: 0;
  color: variables.$neutral-600_grey;
}

.card-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 12px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 16px 24px 24px 24px;
  background-color: variables.$neutral-0_white;
  border: 2px solid variables.$neutral-1000_black;
  color: variables.$neutral-1000_black;
  text-decoration: none;
  transition: 0.2s ease;
  transition-property: box-shadow;
  outline-offset: 2px;

  &:hover {
    box-shadow: 4px 4px 0 variables.$neutral-300;
  }

  .title {
    @include typography.action-medium;
    margin: 0;
    text-align: left;
  }

  .description {
    @include typography.text-small;
    margin: 0;
    color: variables.$neutral-600_grey;
    text-wrap: pretty;
  }
}
