@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.home-view {
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 0;
}

.card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 144px;
  padding: 16px;
  background-color: variables.$neutral-0_white;
  border: 2px solid variables.$neutral-1000_black;
  transition: background-color 0.3s;
  outline-offset: 2px;

  &:hover {
    background-color: variables.$neutral-100_off-white;
  }

  .icon {
    font-size: 32px;
  }

  .title {
    @include typography.action-medium;
    white-space: nowrap;
    text-align: center;
  }
}
