@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.print-view {
  padding: 32px 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}
