@use '~/assets/styles/variables';

.bm-header {
  height: variables.$header-height;
  box-shadow: 0 2px 4px rgba(variables.$neutral-1000_black, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 8px 0;
}

.logo {
  width: 48px;
  height: 48px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    gap: 16px;
  }
}

.nav-select {
  flex-shrink: 1;
  width: auto;

  @media (min-width: 1280px) {
    display: none;
  }
}

.printer-status {
  margin-left: auto;
}
