@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.bm-print-job-result {
  @include typography.text-small;
  text-align: center;
  border: 2px solid variables.$neutral-1000_black;
  padding: 16px;

  :deep(a) {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
