@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.error {
  @include typography.text-small;
  color: variables.$color-error;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.actions-container {
  flex-direction: column;
}

