@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.dropzone {
  @include typography.action-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 2px dashed variables.$neutral-1000_black;
  aspect-ratio: 1 / 1;
  cursor: pointer;

  @media (min-width: 768px) {
    aspect-ratio: 3 / 2;
  }

  &:hover {
    .label {
      box-shadow: 4px 4px 0 variables.$neutral-300;
    }
  }

  &.is-over {
    border-style: solid;
  }

  .label {
    @include typography.action-medium;
    padding: 8px 16px;
    border: none;
    background-color: variables.$neutral-1000_black;
    color: variables.$neutral-0_white;
    transition: 0.2s ease;
    transition-property: box-shadow;
  }
}

input {
  display: none;
}

.file-preview {
  width: 100%;
  height: auto;
  border: 2px solid variables.$neutral-600_grey;
}
