@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.pm-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 400px;
  max-width: 100%;
}

.dropzone {
  @include typography.action-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 2px dashed variables.$neutral-1000_black;
  aspect-ratio: 3 / 2;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: variables.$neutral-600_grey;
  }

  &.is-over {
    border-style: solid;
  }
}

input {
  display: none;
}

.file-preview {
  width: 100%;
  height: auto;
  border: 2px solid variables.$neutral-600_grey;
}

.error {
  color: variables.$color-error;
  text-align: center;
}

.actions-container {
  display: flex;
  gap: 8px;
}
