#ifndef ENV_H
#define ENV_H

// WiFi
const char *wifiSSID = "YOUR_WIFI_SSID";
const char *wifiPassword = "YOUR_WIFI_PASSWORD";

// WebSocket
const char *websocketServerUrl = "ws://YOUR_SERVER_IP:PORT/path";
const char *websocketToken = "YOUR_WEBSOCKET_API_TOKEN";

#endif
