#ifndef ENV_H
#define ENV_H

// WiFi
struct WifiNetworkConfig
{
	const char *ssid;
	const char *password;
};

const WifiNetworkConfig wifiNetworks[] = {
	{"YOUR_WIFI_SSID", "YOUR_WIFI_PASSWORD"},
	{"YOUR_OTHER_WIFI_SSID", "YOUR_OTHER_WIFI_PASSWORD"},
};

// WebSocket
const char *websocketServerUrl = "ws://YOUR_SERVER_IP:PORT/path";
const char *websocketToken = "YOUR_WEBSOCKET_API_TOKEN";

#endif
