@use '~/assets/styles/variables';
@use '~/assets/styles/typography';

.base-button {
  @include typography.action-medium;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: transform, box-shadow;
  outline-offset: 2px;

  &.is-filled {
    background-color: variables.$neutral-1000_black;
    color: variables.$neutral-0_white;
  }

  &.is-outlined {
    background-color: variables.$neutral-0_white;
    color: variables.$neutral-1000_black;
    box-shadow: 0 0 0 2px variables.$neutral-1000_black inset;

    &:hover {
      box-shadow:
        0 0 0 2px variables.$neutral-1000_black inset,
        4px 4px 0 variables.$neutral-300;
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 0 variables.$neutral-300;
  }

  &.is-large {
    padding: 12px 24px;
  }

  &.is-icon-only {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
