.base-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.is-regular {
    width: 24px;
    height: 24px;
  }

  &.is-large {
    width: 48px;
    height: 48px;
  }

  :deep(path) {
    fill: currentColor;
  }
}
