.base-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.is-small {
    width: 16px;
    height: 16px;
  }

  &.is-medium {
    width: 24px;
    height: 24px;
  }

  &.is-large {
    width: 32px;
    height: 32px;
  }
}
