.rm-fake-receipt {
  width: 100%;
  font-family: 'Courier New', monospace;
  font-size: 24px;
  line-height: 1.4;
  background: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-weight: 600;
}

.store-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Arial', sans-serif;

  .store-logo {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  .store-name {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }

  .store-info {
    font-size: 24px;
  }
}

.divider {
  border: none;
  border-top: 2px solid #000;
  margin: 6px 0;

  &.double {
    height: 12px;
    border-bottom: 2px solid #000;
  }
}

.price-info {
  text-align: right;
  margin-bottom: 2px;
  font-size: 20px;
}

.items {
  .item {
    .item-row {
      display: flex;
      justify-content: space-between;
      gap: 4px;

      .item-name {
        flex: 1;
        text-transform: uppercase;
      }

      .item-total {
        flex-shrink: 0;
        font-weight: 600;
        text-align: right;
        min-width: 5em;
      }
    }

    .item-sub {
      padding-left: 1em;
      font-size: 20px;
    }
  }
}

.totals {
  margin: 16px 0;

  .totals-row {
    display: flex;
    justify-content: space-between;
  }
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

  > span {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
  }
}

.payment-row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.tax-table {
  .tax-header,
  .tax-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    span:not(:first-child) {
      text-align: right;
    }
  }

  .tax-header {
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin-bottom: 1px;
  }
}

.receipt-meta {
  margin-top: 32px;

  > div {
    display: flex;
    justify-content: space-between;

    > span:first-child {
      font-weight: 600;
    }
  }
}

.barcode {
  width: 100%;
  height: auto;
  margin-top: 36px;
}

.footer-row {
  text-align: center;
  margin-top: 16px;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}


.fake-watermark {
  position: fixed;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 280px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3);
}
