@use '~/assets/styles/variables';

.rm-large-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-family: variables.$font-family;
  font-weight: variables.$font-weight-bold;
  font-size: 100vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow-x: hidden;
}
