ENV="development"

PRINT_UPSIDE_DOWN="false"

WEBSOCKET_TOKEN="YOUR_WEBSOCKET_TOKEN"
SENTRY_ERROR_TOKEN="YOUR_SENTRY_ERROR_TOKEN"

WEB_APP_BASE_URL="http://localhost:5173"
RENDER_BASE_URL="http://localhost:5173/render.html"

AWS_REGION="eu-central-1"
AWS_BEDROCK_MODEL_ID="eu.anthropic.claude-haiku-4-5-20251001-v1:0"
AWS_BEDROCK_API_KEY="YOUR_AWS_BEDROCK_API_KEY"

REPLICATE_API_KEY="YOUR_REPLICATE_API_KEY"

AUTH_CODE="123456"
